In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = yf.download('BBL.BK KBANK.BK SCB.BK BAY.BK TTB.BK KKP.BK TISCO.BK SAWAD.BK MTC.BK TIDLOR.BK AMANAH.BK AEONTS.BK ASK.BK CHAYO.BK JMT.BK KTC.BK',
                  start = '2018-01-01' , end='2022-10-14',period='1d')

[*********************100%***********************]  16 of 16 completed

In [4]:
df = data['Adj Close'].copy()

## Check not Nan

In [7]:
df.loc[~df.isnull().sum(1).astype(bool)].iloc[0]

AEONTS.BK    186.226227
AMANAH.BK      6.150000
ASK.BK        45.000000
BAY.BK        34.115032
BBL.BK       133.027374
CHAYO.BK      12.700000
JMT.BK        80.720932
KBANK.BK     156.978470
KKP.BK        67.920959
KTC.BK        59.250000
MTC.BK        49.602150
SAWAD.BK      52.916512
SCB.BK        80.318840
TIDLOR.BK     34.324184
TISCO.BK      93.278137
TTB.BK         1.271492
Name: 2022-04-20 00:00:00, dtype: float64

In [18]:
df.isnull().sum(1)

Date
2018-01-03    3
2018-01-04    3
2018-01-05    3
2018-01-08    3
2018-01-09    3
             ..
2022-10-06    0
2022-10-07    0
2022-10-10    0
2022-10-11    0
2022-10-12    0
Length: 1162, dtype: int64

## Another method

In [20]:
# stack จะทิ้ง nan อัตโนมัติ
df.stack().groupby(level=1).head(1)

Date
2018-01-03  AEONTS.BK     91.102776
            AMANAH.BK      1.300324
            ASK.BK        17.726864
            BAY.BK        34.921169
            BBL.BK       173.468872
            JMT.BK        13.089821
            KBANK.BK     207.782547
            KKP.BK        54.755280
            KTC.BK        16.831442
            MTC.BK        38.350216
            SAWAD.BK      51.122284
            TISCO.BK      61.536510
            TTB.BK         2.345252
2018-03-22  CHAYO.BK       1.638680
2021-05-10  TIDLOR.BK     42.156548
2022-04-20  SCB.BK        80.318840
dtype: float64